.index__to-do-list-list {
  align-content: baseline;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.index__to-do-list {
  height: 100px;
  margin-top: 1em;
  margin-right: 1em;
  width: 100px;
}
