@import "../../utils/colors.scss";

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

.button:hover {
  transition-duration: 1s;
}

.button--primary {
  border: 1px solid $mine-shaft;
  color: $mine-shaft;
  padding: .5em;
}

.button--primary:hover {
  border: 1px solid $cod-gray;
  color: $cod-gray;
  text-decoration: underline;
}
