$alto: #cfcfcf;
$azalea: #f5c6cb;
$barley-white: #fff3cd;
$cherub: #f8d7da;
$cod-gray: #090909;
$colonial-white: #ffeeba;
$deep-fir: #093800;
$fringy-flower: #c3e6cb;
$mine-shaft: #1f1f1f;
$mischka: #d2d2d7;
$parsley: #155724;
$persia-plum: #721c24;
$sea-green: #32936f;
$white: #fff;
$yukon-gold: #856404;
$zanah: #d4edda;
